<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REMOTEOFFICEAUTHKEY</key>
	<string>a14a133037b4d6c600d592363ac78c2f</string>
	<key>SERVERNAME</key>
	<string>AZR-Patchmgr-PCS.afrexim.com</string>
	<key>AUTODETECT_PROXY</key>
	<string>false</string>
	<key>REMOTEOFFICENAME</key>
	<string>MAC users</string>
	<key>MSIRESTARTMANAGERCONTROL</key>
	<string>Disable</string>
	<key>SERVERPROTOCOL</key>
	<string>https</string>
	<key>UEMSProductCode</key>
	<string>[PMP]</string>
	<key>USEJSON</key>
	<string>true</string>
	<key>AGENTPOLLINGINTERVAL</key>
	<string>120</string>
	<key>SERVERSECIPADDRESS</key>
	<string>10.21.2.38</string>
	<key>CUSTOMERNAME</key>
	<string>DC_CUSTOMER</string>
	<key>productcode</key>
	<string>PMP</string>
	<key>ENABLEDISTRIBUTIONSERVER</key>
	<string>no</string>
	<key>SERVERPORT</key>
	<string>8383</string>
	<key>REMOTEOFFICEID</key>
	<string>3601</string>
	<key>AGENTVERSION</key>
	<string>11.2.2325.20.M</string>
	<key>SC_VALUE</key>
	<string>0</string>
	<key>PERFORMASSETSCAN</key>
	<string>no</string>
	<key>SERVERSECUREPORT</key>
	<string>8383</string>
	<key>ALLUSERS</key>
	<string>1</string>
	<key>ENABLESILENT</key>
	<string>YES</string>
	<key>SERVERFLATNAME</key>
	<string>AZR-Patchmgr-PCS</string>
	<key>MSPNAME</key>
	<string>DC_MSP</string>
	<key>DATA_TRANSFER_RATE</key>
	<string>0</string>
	<key>INSTALLTIME</key>
	<string>1608189198</string>
	<key>UNIQUE_ID_PARAM</key>
	<string>SERVICE_TAG</string>
	<key>PROXYBYPASS</key>
	<string></string>
	<key>SERVERIPADDRESS</key>
	<string>10.21.2.38</string>
	<key>CUSTOMERID</key>
	<string>1</string>
	<key>ENABLE_CAPTCHA</key>
	<string>yes</string>
	<key>ENABLEREMOTEOFFICEMGMT</key>
	<string>yes</string>
	<key>PERFORMPATCHSCAN</key>
	<string>yes</string>
	<key>RoSummaryEnabled</key>
	<string>true</string>
	<key>VALUE2</key>
	<string>a14a133037b4d6c600d592363ac78c2f</string>
	<key>UNIQUE_ID_STATUS</key>
	<string>false</string>
	<key>VALUE1</key>
	<string>c8a821dbef911d11bf646204aeb780c950a4912bb01709e2c8ad142774e801d3a2e880ad7df8442956e13bd6657fcaff</string>
	<key>ENABLEPROXY</key>
	<string>no</string>
	<key>branchID</key>
	<string>3601</string>
	<key>DirectDownloadEnabled</key>
	<string>false</string>
	<key>PERFORMPOSTINSTALL</key>
	<string>yes</string>
</dict>
</plist>